MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/bookdb?retryWrites=true&w=majority
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
JWT_SECRET=<generate: openssl rand -base64 64>
JWT_EXPIRY=7d
NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000
PYTHON_API_NLPTEXTSEARCH_URL=http://nlpsearch:5002/search
RECOMMENDER_URL=http://recommender:5001
